.unlp-banner > a > img {
  height: 70px;
  float: left;
  padding: 10px;
  padding-bottom: 0px;
  transition-duration: 500ms;
}
#unlp-logo > img {
  height: 50px !important;
  margin-top: 0px;
  margin-left: 10px;
}
.unlp-banner > a > img:hover {
  filter: brightness(2);
}
.unlp-banner > img {
  height: 36px;
  float: right;
  margin: 10px;
  transition-duration: 500ms;
}
.unlp-banner h2 {
  font-size: 20pt;
  font-family: "Times";
  font-weight: 200 !important;
  letter-spacing: 1px;
  position: absolute;
  top: 5px;
  margin-left: 165px;
}

#gh-link {
  text-decoration: none;
  font-size: 10pt;
  font-family: sans-serif;
  color: white;
  border: solid 1px white;
  border-radius: 2px;
  padding: 5px 15px;
  font-weight: 100;
  position: relative;
  top: 15px;
  float: right;
  margin-right: 20px;
  margin-left: 0px;
  transition-duration: 400ms;
}
#gh-link:hover {
  color: #dfe8f3 !important;
  border-color: #dfe8f3 !important;
}
.container > img {
  height: 300px;
  float: right;
  margin: 10px;
  transition-duration: 500ms;
}
.container {
  max-width: 1200px;
  position: relative;
  top: 100px;
  margin-bottom: 30px;
}

.tit-graph {
  max-width: 60%;
  justify-content: space-around;
  position: relative;
  margin-top: 0px;
  margin-bottom: 30px;
}

.unlp-banner {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 10px 0px;
  width: 100%;
  background: rgb(210, 210, 210);
  color: black;
  font-size: 20px;
  margin-bottom: 30px;
}
/* Bottom right text */
.text-block {
  position: absolute;
  top: 320px;
  right: 10px;
  background-color: lightgrey;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
}
